<div class="container mt-4" style="max-width:480px">
  <div class="card p-3">
    <h4>Register Manager</h4>

    <input class="form-control my-2" placeholder="Name" [(ngModel)]="name" />
    <input class="form-control my-2" placeholder="Email" [(ngModel)]="email" />
    <input type="password" class="form-control my-2" placeholder="Password" [(ngModel)]="password" />

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <button class="btn btn-primary w-100" (click)="submit()">Register</button>
  </div>
</div>
